body {
    background-color: lightblue;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.header {
    color: black;
    padding: 20px;
    text-align: center;
}

.header.img {
    background-image: url("header-bg.png");
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(4px); /* Btw this is not supported in edge, IE or Safari 5.9 */
